.img-inicio {
    background: url('../img/fondo_inicio.jpg') no-repeat center center/cover;
    background-size: cover;
    background-position: center;
    height: 400px;
    position: relative;
    color: #fff;
}

.header-text {
    position: absolute;
    display: flex;
    flex-direction: column;

    background: rgba(0,0,0,0.5);
    padding: 50px;
    border-radius: 5px;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.contenido-nosotros {
    padding-left: 75px;
    padding-right: 75px;
}

.nosotros-texto {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#nosotros {
    background-color: whitesmoke;
    padding-top: 20px;
    padding-bottom: 20px;
}

.cover-libros {
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    transition: transform 0.3s ease-in-out;
}

.libro-imagen {
    width: 100%; 
    height: 400px; 
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease-in-out;
}

.card:hover img {
    transform: scale(1.05);
}