* {
    color: white;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url('../img/fondo_login.jpg') no-repeat center center/cover;
}

#logo {
    width: 100px;
    margin-top: -60px;
    margin-bottom: 25px;
}

.card {
    padding: 75px;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(3px);
    border-radius: 15px;
}

.card-body {
    position: relative;
    top: 35px;
}

.card-title {
    margin-bottom: 25px;
}

.pass {
    margin-bottom: 35px;
}

